{{#link-to "friends.create" class="btn"}}
    Novo
{{/link-to}}
<hr>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Início da Amizade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         {{#each model as |friend|}}
            <tr>
                <td>{{ friend.name }}</td>
                <td>{{ friend.lastname }}</td>
                <td>{{ friend.friendsSince }}</td>
                <td>
                    {{#link-to "friends.view" friend.id class="btn"}}
                        Detalhes
                    {{/link-to}}
                </td>
            </tr>
          {{/each}}
    </tbody>
</table>
