 <h3>Detalhes do Amigo</h3>
 
 {{#each model as |friend|}}
           
    <p><b>Nome:</b> {{ friend.name }}</p>
    <p><b>Sobrenome:</b> {{ friend.lastname }}</p>
    <p><b>Data de Início da Amizade:</b> {{ friend.friendsSince }}</p>
    
            
{{/each}}
{{#link-to "friends" class="btn"}} 
    Voltar
{{/link-to}}
